body {
  background: rgb(41, 40, 40);
  height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
}

.card-title {
  font-size: 30px;
}

.card {
  background-color: rgba(22, 22, 20, 0.959);
}

.fa-user-circle {
  font-size: 20px;
  margin-right: 3px;
}
